/* globals.css */
.btn-neon {
  font: jakarta sans, sans-serif;
  padding: 3px 10px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.5);
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transition: 0.5s ease;
}

.btn-neon:hover {
  color: #000000;
  background: #ffffff;
  border: 1px solid #ffffff;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
  box-shadow: 0 0 5px #ffffff, 0 0 20px #ffffff, 0 0 50px #ffffff, 0 0 100px #ffffff;
}